.ipynb_checkpoints/
*.pkl
__pycache__/
.vscode/
*/__pycache__/
*.pyc
*.png
*.pdf
*.eps
*.zip
*.stc
megfractal/__pycache__/
Old/
src/

*.egg-info
*.egg

build/
dist/

data/*

megfractal/todo.txt

notebooks/figures/*
figures/*
notebooks/~/
